* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #D3164C;
    --secondary-color: #07010C;
    --text-color: #07010C;
    --bg-color: #E3DCCF;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Waffle Mango Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Waffle Mango Regular'), url('fonts/Waffle Mango.woff') format('woff');
}

body {
    background-color: #f4f4f4;
    font-family: "Istok Web", sans-serif;

    max-width: 97.5rem;
    margin: 0 auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    display: flex;

    list-style: none;
    font-size: 1.25rem;
}

h2 {
    padding: 3rem 0;
}

header {
    background-color: var(--bg-color);

    padding: 3rem 3rem 0 3rem;
}

header img {
    width: 60px;
}

main .hero {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 3rem 3rem 3rem;
}

main .about h1 {
    font-size: 6rem;
    font-family: 'Waffle Mango Regular', sans-serif;
    letter-spacing: 5px;
    line-height: 45px;
    margin-bottom: 5px;
}

main .about p {
    line-height: 30px;
    font-size: 1.25rem;

    margin-bottom: 0.7rem;
    width: 90%;
}

.social {
    display: flex;
    gap: 0.2rem;
}

.social i {
    cursor: pointer;
    font-size: 2rem;

    transition: 100ms;
}

.social i:hover {
    opacity: 0.9;
}

.btn {
    align-items: center;
    appearance: none;
    background-color: var(--bg-color);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: var(--text-color);
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
}

.btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

main .hero img {
    border-radius: 5px;

    width: 400px;
}

.section-title {
    font-size: 2rem;
    text-align: center;
}

.skills {
    display: flex;
    gap: 5rem;
    padding: 3rem;
    margin: 6.25rem 0;
}

.skills h3 {
    color: #D3164C;
    font-size: 1.5rem;
}

.skills div {
    width: 50%;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    line-height: 23px;
}

.soft-skills li {
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    font-size: 0.95rem;

    padding: 0.6rem 0.6rem 0.2rem 0.6rem;
}

.skills ul li img {
    width: 35px;
}

#projects {
    background-color: var(--secondary-color);
    color: #f4f4f4;

    padding: 3rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

#projects .project-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem;
}

.project-card {
    position: relative;
    overflow: hidden;
}

#projects .img-container {
    position: relative;
}

.img-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-container:hover .overlay {
    opacity: 1;
}

.overlay p {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.overlay button {
    background-color: #FFBA3C;
    border: none;
    padding: 10px 20px;
    color: #000000;
    cursor: pointer;
    font-size: 1em;
}

.overlay button:hover {
    background-color: #ffcb6b;
    color: #000000
}

#projects .project-tools {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#projects .project-tools span {
    font-size: 0.85rem;
    text-transform: uppercase;
}

#projects .project-tools img {
    width: 20px;
}

#projects .project-tools li {
    background-color: #E3DCCF;
    border-radius: 10px;

    padding: .6rem .6rem 0 .6rem;
}

#academic-projects {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 3rem 3rem;
}

.academic-projects-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.academic-projects-content .img-container {
    width: 600px;
}

.academic-projects-content img {
    width: 100%;
}

.academic-projects-content .project-card h3 {
    background-color: #cecaca;
    padding: 0.7rem;
}

footer {
    background-color: #E3DCCF;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 50px;
    padding: 20px 0;
}

.contact-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-content i {
    font-size: 1.3rem;
}

@media(max-width: 1215px) {
    main .arrow {
        margin-top: 50px;
    }

    main .hero {
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
    }

    main .about p {
        width: 100%;
    }
}

@media (max-width: 885px) {
    main .hero {
        gap: 20px;
    }

    main .hero img {
        width: 450px;
    }
}

@media (max-width: 774px) {
    .skills {
        flex-direction: column;
        align-items: center;
    }

    .academic-projects-content {
        justify-content: center;
    }

    .academic-projects-content .project-card,
    .academic-projects-content img {
        width: 300px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 470px) {
    main .hero img {
        width: 90vw;
    }

    .skills,
    #projects {
        padding: 1rem;
    }
}